<div class="sidebar">
  <header>
    <h1>
      {{title}}
    </h1>
  </header>
  <div class="sidebar-list">
    <LinkTo @route="authenticated.entity.forms" class="sidebar-list-item">
        {{fa-icon "file"}} Forms
    </LinkTo>
    <LinkTo @route="authenticated.entity.jobs" class="sidebar-list-item">
      {{fa-icon "th-list"}} Jobs
    </LinkTo>
    <LinkTo @route="authenticated.entity.settings" class="sidebar-list-item">
      {{fa-icon "cog"}} Settings
    </LinkTo>
    {{#if @owner}}
      <LinkTo @route="authenticated.entity.entitysettings" class="sidebar-list-item">
        {{fa-icon "cog"}} Entity Settings
      </LinkTo>
    {{/if}}

  </div>
</div>
