<div class="sidebar">
  <header>
    <h1>
      {{title}}
    </h1>
  </header>
  <ul>
    <li>
      <a href="/form">{{fa-icon "file"}} New Job</a>
    </li>
    <li>
      <a href="/jobs">{{fa-icon "th-list"}} Job List</a>
    </li>
    <li>
      <a href="/settings">{{fa-icon "cog"}} Settings</a>
    </li>
  </ul>
  <a href="/logout">{{fa-icon "sign-out-alt"}} Log out</a>
</div>
