<div class="sidebar">
  <header>
    <h1>
      {{title}}
    </h1>
  </header>
  <ul>
    {{#each @model as |form|}}
      <li>
        <LinkTo @route="entity.forms">
            {{fa-icon "file"}} Forms
        </LinkTo>
      </li>
    {{/each}}
    <li>
      <LinkTo @route="entity.jobs">
        {{fa-icon "th-list"}} Jobs
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="entity.settings">
        {{fa-icon "cog"}} Settings
      </LinkTo>
    </li>
  </ul>
  <a href="/logout">{{fa-icon "sign-out-alt"}} Log out</a>
</div>
