<div class="sidebar">
  <header>
    <h1>
      {{title}}
    </h1>
  </header>
  <ul>
    <li>
      <LinkTo @route="entity.form">
        {{fa-icon "file"}} New Job
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="entity.joblist">
        {{fa-icon "th-list"}} Job List
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="entity.settings">
        {{fa-icon "cog"}} Settings
      </LinkTo>
    </li>
  </ul>
  <a href="/logout">{{fa-icon "sign-out-alt"}} Log out</a>
</div>
