<header>
  <h1>{{@model.name}}</h1>
</header>
<div class="form-wrapper">
  {{#each @model.sections as |section|}}
    {{#if section.title}}
      <h1>{{section.title}}</h1>
    {{/if}}
    <div class='form-pair'>
      {{#each section.sections as |subSection|}}
      <div class={{if (gt section.sections.length 1) "checkboxContainer" "fullWidthContainer"}}>
        {{#if subSection.title}}
        <header class="checkboxContainerheader">
          <h3>{{subSection.title}}</h3>
        </header>
        {{/if}}
        <table>
        {{#each subSection.elements as |element|}}
          {{#if element.image}}
            <img src="{{element.image}}" style="background-color: {{element.background}}; padding: 15px;"/>
          {{/if}}
          {{#if (eq element.input "text")}}
            <tr>
              <td>
                <label for="{{element.name}}">{{element.text}}: </label>
              </td>
              <td>
                <input type="text" name="{{element.name}}" id="{{element.name}}">
              </td>
            </tr>
          {{/if}}
          {{#if (eq element.input "textArea")}}
            <tr>
              <td>
                <label for="{{element.name}}">{{element.text}}: </label>
              </td>
              <td>
                <textarea type="text" name="{{element.name}}" id="{{element.name}}" class="textbox form-address" ></textarea>
              </td>
            </tr>
          {{/if}}
          {{#if (eq element.input "checkbox")}}
            <tr>
              <td>
                <input type="checkbox" name="{{element.name}}" id="{{element.name}}" />
              </td>
              <td>
                <label for="{{element.name}}">{{element.text}}: </label>
              </td>
            </tr>
          {{/if}}
          {{#if (eq element.input "radio")}}
            <tr>
              <td>
                <input type="radio" name="{{element.radio}}" id="{{element.name}}" />
              </td>
              <td>
                <label for="{{element.name}}">{{element.text}}: </label>
              </td>
            </tr>
          {{/if}}
        {{/each}}
      </table>
      </div>

      {{/each}}
    </div>
  {{/each}}
  <div class="upload-section">
    <input type="file" name="name" multiple><br><br>
  </div>

</div>

<button>Submit</button>
