<header class="job-header">
  <h1>{{@model.title}}</h1>
</header>

<table>
  <tr>
    <td>
      Title:
    </td>
    <td>
       {{@model.title}}
     </td>
   </tr>
  <tr>
    <td>
      Owner:
    </td>
    <td>
       {{@model.owner}}
     </td>
   </tr>
  <tr>
    <td>
      Suburb:
    </td>
    <td>
       {{@model.suburb}}
     </td>
   </tr>
  <tr>
    <td>
      City:
    </td>
    <td>
       {{@model.city}}
     </td>
   </tr>
  <tr>
    <td>
      Address:
    </td>
    <td>
       {{@model.address}}
     </td>
   </tr>
  <tr>
    <td>
      Bedrooms:
    </td>
    <td>
       {{@model.bedrooms}}
     </td>
   </tr>
  <tr>
    <td>
      CreatedBy:
    </td>
    <td>
       {{@model.createdBy.fullName}}
     </td>
   </tr>
  <tr>
    <td>
      CreatedAt:
    </td>
    <td>
       {{@model.createdAt}}
     </td>
   </tr>
  <tr>
    <td>
      Entity:
    </td>
    <td>
       {{@model.entity.name}}
     </td>
   </tr>
  <tr>
    <td>
      Form:
    </td>
    <td>
      {{@model.form.name}}
    </td>
  </tr>
  <tr>
    <td>
      Description:
    </td>
    <td>
       {{@model.description}}
    </td>
  </tr>
</table>
{{#if (eq @model.status 'open')}}
<button {{on "click" this.closeJob}}>Close job</button>
{{else}}
<button {{on "click" this.openJob}}>open job</button>
{{/if}}
{{#if @model.files}}
  <table class="files-table">
    <thead>
      <th>
        location
      </th>
      <th>
        fileType
      </th>
      <th>
        Size
      </th>
    {{#each @model.files as |file|}}
      <tr>
        <td>
          {{file.location}}
        </td>
        <td>
          {{file.fileType}}
        </td>
        <td>
          {{file.size}}
        </td>
      </tr>
    {{/each}}
  </thead>
  </table>
{{else}}
  <h2>No files were found for this job</h2>
{{/if}}
