<header class="job-header">
  <h1>{{@model.title}}</h1>
</header>

<table>
  <tr>
    <td>
      Title:
    </td>
    <td>
       {{@model.title}}
     </td>
   </tr>
  <tr>
    <td>
      Owner:
    </td>
    <td>
       {{@model.owner}}
     </td>
   </tr>
  <tr>
    <td>
      Suburb:
    </td>
    <td>
       {{@model.suburb}}
     </td>
   </tr>
  <tr>
    <td>
      City:
    </td>
    <td>
       {{@model.city}}
     </td>
   </tr>
  <tr>
    <td>
      Address:
    </td>
    <td>
       {{@model.address}}
     </td>
   </tr>
  <tr>
    <td>
      Bedrooms:
    </td>
    <td>
       {{@model.bedrooms}}
     </td>
   </tr>
  <tr>
    <td>
      CreatedBy:
    </td>
    <td>
       {{@model.createdBy}}
     </td>
   </tr>
  <tr>
    <td>
      CreatedAt:
    </td>
    <td>
       {{@model.createdAt}}
     </td>
   </tr>
  <tr>
    <td>
      Entity:
    </td>
    <td>
       {{@model.entity}}
     </td>
   </tr>
  <tr>
    <td>
      Form:
    </td>
    <td>
      {{@model.form}}
    </td>
  </tr>
  <tr>
    <td>
      Description:
    </td>
    <td>
       {{@model.description}}
    </td>
  </tr>
</table>

{{#if @model.files.length}}
<table class="files-table">
  <thead>
    <th>
      File Name
    </th>
    <th>
      Upload date
    </th>
    <th>
      Size
    </th>
  {{#each @model.files as |file|}}
    <tr>
      <td>
        {{file.name}}
      </td>
      <td>
        {{file.uploadDate}}
      </td>
      <td>
        {{file.size}}
      </td>
    </tr>
  {{/each}}
</thead>
</table>
{{else}}
  <h2>No files were found for this job</h2>
{{/if}}
