<script>

</script>

<h1 class="settings-header"> Settings for {{@model.fullName}}</h1>
<form class="settings-form">
  <table>
    <tr class="form-row">
      <td><label class="settings-label" for="userName">Username:</label></td>
      <td>
        <Input
        @type="text"
        @id="userName"
        @name="userName" placeholder="{{@model.userName}}"
        @value={{userName}}
        />
      </td>
    </tr>
    <tr class="form-row">
      <td><label class="settings-label" for="password">Password:</label></td>
      <td><Input
        @type="text"
        @id="password"
        @name="password" placeholder="{{@model.password}}"
        @value={{password}}
        />
      </td>
    </tr>
    <tr class="form-row">
      <td><label class="settings-label" for="firstName">First Name:</label></td>
      <td><Input
        @type="text"
        @id="firstName"
        @name="firstName" placeholder="{{@model.firstName}}"
        @value={{firstName}}
        />
      </td>
    </tr>
    <tr class="form-row">
      <td><label class="settings-label" for="lastName">Last Name:</label></td>
      <td><Input
        @type="text"
        @id="lastName"
        @name="lastName" placeholder="{{@model.lastName}}"
        @value={{lastName}}
        />
      </td>
    </tr>
    <tr class="form-row">
      <td><label class="settings-label" for="defaultSort">Default Sort:</label></td>
      <td>
        <select id="defaultSort" name="defaultSort">
          <option value="jobNumber">Job Number</option>
          <option value="title" >Title</option>
          <option value="suburb" >Suburb</option>
          <option value="creationDate">Creation Date</option>
        </select>
      </td>
    </tr>
    <tr class="form-row">
      <td><label class="settings-label" for="defaultFilter">Default Filter:</label></td>
      <td>
        <select id="defaultFilter" name="defaultFilter">
          <option value="status-open">Status: open</option>
          <option value="status-closed">Status: closed</option>
        </select>
      </td>
    </tr>
  </table>
  <button class="settings-submit pull-right saveUser" {{action 'saveUser'}}>Save</button>
</form>
