<div class="page-header">
  <h1 class="pull-left header-text">Create New Entity</h1>
  <button class="pull-right logout-button" {{action 'logout'}}>
    logout
  </button>
  <button class="pull-right select-entity" {{action 'selectEntity'}}>
    Select an entity
  </button>
</div>
<div class="page-wraper">

  <div class="outlet-wraper">

    <form class="create-entity-form">
      <table>
        <tr class="form-row">
          <td><label class="settings-label" for="firstName">First Name:</label></td>
          <td>
            <Input
            @type="text"
            @id="firstName"
            @name="firstName"
            @value={{firstName}}
            />
          </td>
        </tr>

        <tr class="form-row">
          <td><label class="settings-label" for="lastName">Last Name:</label></td>
          <td>
            <Input
            @type="text"
            @id="lastName"
            @name="lastName"
            @value={{lastName}}
            />
          </td>
        </tr>

        <tr class="form-row">
          <td><label class="settings-label" for="userName">User Name:</label></td>
          <td>
            <Input
            @type="text"
            @id="userName"
            @name="userName"
            @value={{userName}}
            />
          </td>
        </tr>

        <tr class="form-row">
          <td><label class="settings-label" for="password">Password:</label></td>
          <td>
            <Input
            @type="text"
            @id="password"
            @name="password"
            @value={{password}}
            />
          </td>
        </tr>

        <tr class="form-row">
          <td><label class="settings-label" for="role">Role:</label></td>
          <td>
            <Input
            @type="text"
            @id="role"
            @name="role"
            @value={{role}}
            />
          </td>
        </tr>

        <tr class="form-row">
          <td><label class="settings-label" for="defaultSort" onChange={{action 'selectSort' value="target.value"}}>Default Sort:</label></td>
          <td>
            <select id="defaultSort" name="defaultSort">
              <option value="jobNumber">Job Number</option>
              <option value="title" >Title</option>
              <option value="suburb" >Suburb</option>
              <option value="creationDate">Creation Date</option>
            </select>
          </td>
        </tr>

        <tr class="form-row">
          <td><label class="settings-label" for="defaultFilter">Default Filter:</label></td>
          <td>
            <select id="defaultFilter" name="defaultFilter" onChange={{action 'selectFilter' value="target.value"}}>
              <option value="status-open">Status: open</option>
              <option value="status-closed">Status: closed</option>
            </select>
          </td>
        </tr>

        <tr class="form-row">
          <td><label class="settings-label" for="providers">Read Permissions:</label></td>
          <td>
            <ul>
              {{#each model as |entity|}}
                <li>
                  <label>{{entity.name}}
                    <input type="checkbox" onChange={{action 'updateReadPermissions' entity}} />
                  </label>
                </li>
              {{/each}}
            </ul>
          </td>
        </tr>

        <tr class="form-row">
          <td><label class="settings-label" for="write">Write Permissions:</label></td>
          <td>
            <ul>
              {{#each model as |entity|}}
                <li>
                  <label>{{entity.name}}
                    <input type="checkbox" onChange={{action 'updateWritePermissions' entity}} />
                  </label>
                </li>
              {{/each}}
            </ul>
          </td>
        </tr>

      </table>
      <button class="settings-submit pull-right save-user" {{action "saveUser"}}>Save</button>
    </form>
  </div>
</div>
