<div class="page-header">
  <h1 class="pull-left header-text">Select an entity</h1>
  <button class="pull-right logout-button" {{action 'logout'}}>
    logout
  </button>
  <button class="pull-right create-entity" {{action 'createEntity'}}>
    Add an entity
  </button>
  <button class="pull-right create-user" {{action 'createUser'}}>
    Add an user
  </button>

</div>

<div class="tile-box">
  {{#each @model as |entity|}}
    <LinkTo @route="authenticated.entity" class="job-link" id="entity-{{entity.id}}" @model={{entity}}>
      <div class="tile entity">
        <div >
          <img class="entity-tile-image" src="{{entity.image}}" />
        </div>
        <div class="entity-tile-name">
          <h2>{{entity.name}}</h2>
        </div>
      </div>
    </LinkTo>
  {{/each}}
</div>
