<div class="page-header">
  <div class="entity-tile-image">
    <img src="{{@model.image}}" alt="Store Logo for {{@model.name}}"/>
  </div>
  <div class="page-header-panel">
    <h1 class="pull-left header-text">{{@model.name}}</h1>
    <button class="pull-right logout-button" {{action 'logout'}}>
      logout
    </button>
  </div>
</div>

<div class="page-wraper">
  <Sidebar @model={{@model}} @owner=isAdmin />
  <div class="outlet-wraper">
    {{outlet}}
  </div>
</div>
