<div class="loginPage">
  <form class="login form">
    <header class="form-header">
      <h1>Login</h1>
    </header>
    <body>
      <div class="form-row">
        <label for="login-username">Username</label>
        <input id="login-username" type="text" />
      </div>
      <div class="form-row">
        <label for="login-password">Password</label>
        <input id="login-password" type="password" />
      </div>
    </body>
    <footer class="form-footer">
      <button {{action 'login'}}> Log in </button>
    </footer>
  </form>
</div>

<!--
<form {{on "submit" this.authenticate}}>
  <label for="identification">Login</label>
  <input id='identification' placeholder="Enter Login" value={{this.identification}} {{on "change" this.updateIdentification}}>
  <label for="password">Password</label>
  <input id='password' placeholder="Enter Password" value={{this.password}} {{on "change" this.updatePassword}}>
  <button type="submit">Login</button>
  {{#if this.errorMessage}}
    <p>{{this.errorMessage}}</p>
  {{/if}}
</form> -->
